
div{
    background-color: aqua;
}
.one{color: blue;background-color: antiquewhite;padding: 10px;

}
#two{
    color: bisque; background-color: chartreuse;text font: size 20px;width: 300px
    ;
}
.three{
    color: beige;box-shadow: 5px tomato;font-size: xx-large; background-color: darkorange; width: 300px;
}
