
div{
    background-color: aqua;
}
.one{color: blue;background-color: antiquewhite;padding: 10px;

}
#two{
    color: bisque; background-color: chartreuse;text font: size 20px;width: 300px
    ;
}
.three{
    color: beige;box-shadow: 5px tomato;font-size: xx-large; background-color: darkorange; width: 300px;
}
.five{
    color: cornflowerblue; background-color: crimson;font-size: x-large;width: 300px;border: 15px;border-radius: 10px;box-shadow: 10px;
}
.six{
    color: aqua;background-color: burlywood;margin: 0%
    ;zoom: inherit;
    font-size: larger; width: 50%;

}
